<%- include('header'); -%>
<div class="row">
    <div class="col-12">
        <h1 class="text-center m-4"><%=category.name%></h1>
    </div>
    <div class="col-12">
        <p class="text-center"><%=category.description%></p>
        <div class="text-center mb-3">
            <a href="<%=category.url%>/update" class="btn btn-light">
                Edit
            </a>
            <a href="<%=category.url%>/delete" class="btn btn-danger">
                Delete
            </a>
        </div>

    </div>
    <hr>
</div>

<div class="row">
    <% items.forEach(item => { %>
    <div class="col-12 col-sm-6 col-md-4 mt-2 mb-2">
      <div class="card bg-dark category-cards">
        <div class="card-body">
          <h4 class="card-title"><a href="<%=item.url%>" class="category-link"><%=item.name%></a></h4>
          <p class="card-text"><%=(item.description.length > 100 ? item.description.substring(0, 99) + "..." : item.description)%></p>
        </div>
      </div>
    </div>
    <% }); %>
  
  </div>

<%- include('footer'); -%>