<%- include('header'); -%>
<div class="row">
  <div class="col-12">
    <h1 class="text-center m-4"><%=title%></h1>
  </div>
</div>

<form method="post" action="">
  <div class="mb-3">
    <label for="name" class="form-label">Category Name</label>
    <input type="text" class="form-control" id="name" name="name" required=true
      value=<%-(undefined===locals.category ? '' : category.name)%>>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Category Description</label>
    <textarea class="form-control" name="description" id="description" cols="30" rows="5" required=true><%-(undefined===locals.category ? '' : category.description)%></textarea>
  </div>
  <button type="submit" class="btn btn-light">Submit</button>
</form>

<%if(undefined===locals.errors) {%>
 <%} else {%>
  <h5 class="mt-3">Errors</h5>
<ul>
  <% errors.forEach(error => { %>
    <li><%-error.msg%></li>
 <%});%>
</ul>
  <%}%>

<%- include('footer'); -%>